// .peculiarities {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.peculiarities__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-list {
  display: flex;
}

.peculiarities-list__title-title {
  &:not(:last-child) {
    margin-right: 30px;
    width: 270px;
  }
  &::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 25px;
    border-radius: 4px;
    background-image: url("../images/antenna.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.icon-clock {
  &::before {
    background-image: url("../images/clock.svg");
  }
}

.icon-diagram {
  &::before {
    background-image: url("../images/diagram.svg");
  }
}

.icon-astronaut {
  &::before {
    background-image: url("../images/astronaut.svg");
  }
}

.peculiarities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.peculiarities__after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  width: 270px;
}
