// .peculiarities {
//   padding-top: 60px;
//   padding-bottom: 60px;
// }

.peculiarities__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.peculiarities-list {
  // width: 270px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.peculiarities-list__title-title {
  margin-right: 30px;
  width: 100%;
}

.peculiarities-list__title-title {
  &:not(:last-child) {
    margin-right: 30px;
    width: 100%;
  }
  &::before {
    display: flex;
    content: "";
    width: 100%;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 25px;
    border-radius: 4px;
    background-image: url("../images/antenna.svg");
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: 768px) {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
    }
  }
}

.icon-clock {
  &::before {
    background-image: url("../images/clock.svg");
  }
}

.icon-diagram {
  &::before {
    background-image: url("../images/diagram.svg");
  }
}

.icon-astronaut {
  &::before {
    background-image: url("../images/astronaut.svg");
  }
}

.peculiarities__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.peculiarities__after-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  width: 100%;
  margin-bottom: 30px;
}
